<!DOCTYPE html>
<html ng-app="domIntApp">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller="domIntCtrl">
    <!-- Bind this input to the controller -->
    <input ng-model="search.name" />
    <input ng-model="search.age" />

    <button ng-click="clicker()">Click Me</button>
    <!-- Display that input here -->
    <div ng-show="name" ng-style="style">My name is: {{ name }}</div>

    <!-- Use this div as a template for our array of people -->
    <div ng-repeat="person in people | filter: search">
      <h1>{{person.name}}</h1>
      <h3>{{person.age}}</h3>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="domInteractionsApp.js"></script>
    <script src="domInteractionsCtrl.js"></script>
  </body>
</html>
